<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    
    {% block head %}{% endblock %}
    
</head>
<body>
    <nav>
        <a href="/" >
            <h1 class="pageTitle">e-XImages</h1>
        </a>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>