{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/image.js') }}"></script>
{% endblock %}

{% block body %}
    <p id="imageName" width="0" height="0">{{ imageName }}</p>
    <img src="{{ url_for('static', filename=imageName)}}" id="imageToCanvas" width="0" height="0">

    <div class="canvas">
        <canvas id="myCanvas" width="1000" height="1000">
        </canvas>
    </div>
    
    <div class="buttons"> 
        <a href="/cropped" >
            <button>
                Visualizar Cortes
            </button>

        <button onclick=submitCoord()>
            Enviar coordenadas
        </button>
        </a>
    </div>
{% endblock %}