{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/components/instructions.js') }}"></script>
{% endblock %}

{% block body %}
    <the-instructions text="Selecione uma imagem para começar a marcar:"></the-instructions>

    <div class="images">
        {% for photo in photos %}
            <a href="{{ url_for('image', imageName=photo.fileName)}}" >
                <img class="image" src="{{ url_for('static', filename=photo.filePath)}}">
            </a>    
        {% endfor %}

    </div>


    <a href="/cropped" >
        <button>
            Visualizar Cortes
        </button>
    </a>
    
{% endblock %}