{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p class="instructions">
        Selecione uma imagem para começar a marcar:
    </p>

    <div class="images">
        {% for photo in photos %}
            <a href="{{ url_for('image', imageName=photo.fileName)}}" >
                <img class="image" src="{{ url_for('static', filename=photo.filePath)}}">
            </a>    
        {% endfor %}

    </div>


    <a href="/cropped" >
        <button>
            Visualizar Cortes
        </button>
    </a>
    
{% endblock %}