{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/components/instructions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/components/button.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/components/images.js') }}"></script>
{% endblock %}

{% block body %}
    <the-instructions text="Selecione uma imagem para começar a marcar:"></the-instructions>

    <div class="images">
        {% for photo in photos %}
            <new-image href="{{ url_for('image', imageName=photo.fileName)}}" src="{{ url_for('static', filename=photo.filePath)}}"></new-image>    
        {% endfor %}

    </div>

    <new-button href="/cropped" name="Visualizar Cortes"></new-button>
    
{% endblock %}